<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title inertia>{{ title ?? 'Swachh Campus' }}</title>

    @inertiaHead()
    @viteReactRefresh()
    @vite(['resources/js/app.tsx'])
  </head>

  <body>

    @inertia()

  </body>
</html>